@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	width: 100%;
	margin: auto;
	background-color: #F5F5F5;
}
.mail{
	color: black;
}
#pagecontent
{ 
	font-family: Sriracha ,Aria ,'Trebuchet MS', cursive, sans-serif;
	background-color: white;
	color: #26373B;
	text-align: justify;
	min-height: 100%;
	width: 80%;
	margin: auto;
	font-size: 18px;
	display: block;
	box-shadow: 4px 4px 4px 4px #F1EDEA;
	border: 0px #334352 outset
}

html {
	margin: 0; 
	padding: 0;
}

a:visited {
	color:  #BDBDBD;
}

a {
	color: #006FC0;
}

/* -------------  Haut de page ------------ */

h1 > span {
	color: #006FC0;
}

h1 {
	font-family: "Sriracha", cursive;
	margin: 0px;
	margin-top: 1em;
	margin-left: 1em;
	font-size: 3.2em;
}

h2 > span {
	text-decoration: underline; 
	text-decoration-color: #006FC0; 
	text-underline-position: under;
}

h2 {
	font-family: "Sriracha", cursive;
	margin: 0px;
	margin-left: 3em;
}

img {
	display: flex;
	align-content: center;
	width: 10em;
	height: 10em;
	border-radius: 50%;
	margin-top: 3em;
	border: 0px #334352 outset;
	box-shadow: 3px 3px 3px #334352;
	
}

#top {
	display: flex;
	width: 100%;
}

.titre {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin-right: 2em;
}

.maphoto {
	display: flex;
	width: 100%;
	background-color: #006FC0;
	justify-content: center;

}

h5 {
	margin-top: 0;
	color: #757575;
}

h4 {
	margin-top: 0;
	color: #006FC0;
}

/* ---------- Milieu de page -------- */

#blocs {
	display: flex;
	width:100%;
}

.maincontent {
	display: flex;
	flex-direction: row;
	margin-right: 2em;
	min-height: 100%
}	

/* ------------------------------ Partie gauche --------------------------- */

#bloc_gauche {
	display: flex;
	flex-direction: column;	
	width:25%;
	background-color: #006FC0;
	color: #FFF;
}

p {
	margin: 0px;

}
.titrecolor{
	color: #006FC0;
}
.title_left {
	background-color :#334352;
	color: #006FC0;
	text-align:center;
	font-size: xx-large;
}

/* ---------------- Contact ------------------- */

address {
	margin : 0 2em;
}

/* ---------------- A Propos de moi ----------- */

.texte {
	margin: 1em 2em;
}

/* ----------------- Loisirs ----------------------*/

#icones { 
	display: flex;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 1em;
	padding-left: 4em;
	padding-right: 4em;
}

.iconebloc { 
	display: flex;
	border-radius:50%;
	border:1px white solid;
	padding: 0.4em;
	margin: 0.4em;
	justify-content: center;
}

#page {

	margin-top: auto;
}

/* -------------------------------------- Partie droite ---------------------------- */

#bloc_droite {
	display: flex;
	flex-direction: column;
	width:75%;
}

.title_right {
	display: flex;
	border-bottom: #006FC0 solid;
	margin-left: 2.5em;
	font-size: xx-large;
	color: #757575;
}

.date {
	margin-left: 2em;
}

.icone {
	margin-right: 2em; 
}

.logo {
	margin-right: 2em;
	color: #006FC0;
}


/* ----------------- Formation -------------------- */

.block_formation {
	display: flex;
	width: 100%;
	text-align: justify;
	margin-top: 2em;
}

.formation_gauche {
	display: flex;
	width: 30%;
	margin-left: 4.5em;
	margin-right: 2em;
	color: #006FC0;
}

.formation_droit {
	display: flex;
	width: 70%;
	flex-direction: column;
}

/* ---------------- Expérience ------------------ */

.block_experience {
	display: flex;
	width: 100%;
	text-align: justify;
	margin-top: 2em;
}

.experience_gauche {
	display: flex;
	width: 30%;
	margin-left: 4.5em;
	margin-right: 2em;
	color: #006FC0;
}

.experience_droite {
	display: flex;
	width: 70%;
	flex-direction: column;
}

/* ---------------- Recommandation -------------- */

#block_recommandation {
	display: flex;
	flex-direction: row;
	width:100%;
	margin-bottom: 2em;
}

.recommandation_gauche {
	display: flex;
	width: 50%;
	margin-left: 4.5em;
	margin-right: 2em;
}

.recommandation_droite {
	display: flex;
	width: 50%;
}

/* ----------------- Responsive -------------------- */

@media screen and (max-width : 1024px) {
	#pagecontent{
	width: 100%;
	margin: auto;
	}

	.maincontent {
		width:  auto; 
		flex-direction: column;	
		margin-right: 0;
		font-size: 16px;
	}

	.maphoto {
		width: 100%;
		font-size: 20px;
	}

	img {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.titre {
		width: 100%;
    	text-align: center;
	}

	#bloc_droite {
		width: 100%;
		order: 2;
		margin-right: 1em;
	}

	#bloc_gauche {
		order: 1;
		width: 100%;
	}

	address {
		text-align: center;
	}

	.title_right {
		margin: 0;
		margin-bottom: 16px;
	}

	.experience_droite {
		margin-right: 2em;
	}

	.experience_gauche {
		margin-left: 9px;
	}

	.formation_droit {
		margin-right: 2em;
	}

	.formation_gauche {
		margin-left: 9px;
	}

	.title_left {
		margin-top: 0em;
		margin-bottom: 0em;
	}

	address {
		margin-bottom: 2em;
		margin-top: 2em;
	}

	.logo {
		margin-left: 15px;
	}

	.date {
		margin-left: 1em;
	}
}

@media screen and (max-width: 991px) {

	.experience_gauche {
		margin-left: 1em;
	}	

	.formation_gauche {
		margin-left: 1em;
	}

	.recommandation_gauche {
		margin-left: 1em;
		margin-top: 1em;
	}

	.recommandation_droite {
		margin-left: 1em;
		margin-top: 1em;
	}

	h1, h2 {
		margin-left: 0px;
	}

}

@media screen and (max-width: 500px){

	.titre {
		font-size: 50%;
	}

	.title_right {
		font-size: 120%;
		padding-top: 20px;
	}

	#bloc_gauche {
		width: 100%;
	}

	#block_recommandation {
		width:100%;
		flex-direction: column;
		margin-bottom: 0;
	}

	.recommandation_gauche,.recommandation_droite {
		width: 100%;
		padding: 15px 0;
		margin: 0;
		text-align: center;
	}

	#block_recommandation p {
		width: 100%;
		padding-left: 25px;
	}

	h4, h5 {
		margin-bottom: 10px;
	}

	.title_left{
		font-size: 130%;
	}

	h2{
		font-size: 2.5em;
	}
}